{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="container mt-5 w-75">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="font-weight-bold">{{ article.title }}</h2>
        </div>
        <div class="card-body flex flex-column w-full">
            <div class="flex justify-content-center">
                     {% if article.image %}
                <img src="{{ article.image.url }}" class="img-fluid rounded mb-4 content" alt="{{ article.title }}" style="max-width: 600px; height: auto;">
            {% endif %}
            </div>

            <div>
                <p class="mt-4 lead">{{ article.content }}</p>

            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'articles:article_list' %}" class="btn btn-secondary btn-lg">Back to Articles List</a>
        </div>
    </div>
</div>
{% endblock %}
